/* editor styling */
.editor-container {
    position: relative;
} 

.editor-container .ql-toolbar {
    position: sticky;
    top: 7rem;
    width: 100%;
    background-color: rgb(223, 225, 226);
    z-index: 90; 
    display: flex;
    justify-content: center;
    border-color: rgb(223, 225, 226);
}

.editor-container .ql-editor {
    width: 862px;
    min-height: 50px;
    padding: 5cm;
    margin: 3rem auto;
    margin-bottom: 50rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.editor-container .ql-editor {
    width: 8.5in;
    min-height: 29.7cm;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
}
  
.editor-container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}
  
.editor-container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}
